[Desktop Entry]
Name=otp
GenericName=Encryption Tool
Comment=Encrypt or decrypt files
Exec=/bin/otp-gui
Terminal=false
Type=Application
Keywords=encrypt;decrypt;otp;one time;pad;
